
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3354d;
    margin: 1rem 0rem;
    padding: 1rem 1rem;
    width: 60%;
    height: 13%;
    border: 0.5px solid #dfdfdf;
    background-image: url(http://localhost:3000/static/media/images.16aa306….jfif);
    font-size: 1.5rem;
    font-weight: 450;
    color: white;
    box-shadow: inset 0px 0px 3px 0px white;
    border-radius: 0.5rem;
    cursor: pointer;

}

.main:hover{
    transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
 

.listbody{
    background-image: url('../assets/images/bg2.jpg');
}



  .header{
    background-color: #e0dbdb;
    padding: 0.3rem 3rem;
    border-radius: 0.4rem;
  }
  .sel{
    background-color: rgb(56, 112, 56);
  }

  .desel{
    background-color: #d3354d;
  }